html, body {
    height:100%;
    font-family: 'trebuchet ms', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-size: 16px;
}

.container {
    display: flex;
    max-width: 1050px;
}

span{
    padding-top: 0;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    align-items: flex-start;
}